<h1>InvestManage</h1>
<h2>Manage your stock portfolio here.</h2>
<%= link_to 'Addresses', addresses_url %>
<%= link_to 'Holdings', holdings_url %>
<%= link_to 'Portfolios', portfolios_url %>
<%= link_to 'Stocks', stocks_url %>
